In [1]:
import pandas as pd

I am going to learn about the New York car accident for a week from September 25th to October 1st. Using this data, we can know the area, time, and date of the most accident in a week and can be careful when passing through here.

In [2]:
collisions = pd.read_csv("https://raw.githubusercontent.com/junphp/is362_project2/master/NYPD_Motor_Vehicle_Collisions.csv")

In [3]:
collisions

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,UNIQUE KEY,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,09/25/2017,10:00,BRONX,10451.0,NaN,NaN,NaN,NaN,NaN,264 E 143rd St,...,NaN,NaN,NaN,NaN,3757335,NaN,NaN,NaN,NaN,NaN
1,09/25/2017,0:00,BROOKLYN,11210.0,40.636326,-73.958405,"(40.636326, -73.958405)",OCEAN AVENUE,FOSTER AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,3757470,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
2,09/25/2017,0:00,BROOKLYN,11216.0,40.675385,-73.953370,"(40.675385, -73.95337)",SAINT MARKS AVENUE,BEDFORD AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,3757401,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
3,09/25/2017,0:00,BROOKLYN,11217.0,40.685290,-73.976204,"(40.68529, -73.976204)",HANSON PLACE,FORT GREENE PLACE,NaN,...,Unspecified,NaN,NaN,NaN,3757719,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
4,09/25/2017,0:00,BROOKLYN,11237.0,40.713966,-73.924540,"(40.713966, -73.92454)",METROPOLITAN AVENUE,SCOTT AVENUE,NaN,...,Turning Improperly,NaN,NaN,NaN,3757316,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
5,09/25/2017,0:00,QUEENS,11369.0,40.758960,-73.859090,"(40.75896, -73.85909)",NaN,NaN,32-54 111 STREET,...,NaN,NaN,NaN,NaN,3758659,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,NaN
6,09/25/2017,0:00,QUEENS,11432.0,40.706650,-73.798050,"(40.70665, -73.79805)",NaN,NaN,89-34 163 STREET,...,Unspecified,NaN,NaN,NaN,3757137,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
7,09/25/2017,0:00,NaN,NaN,40.678238,-73.944150,"(40.678238, -73.94415)",ATLANTIC AVENUE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,3758986,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN
8,09/25/2017,0:00,NaN,NaN,40.622875,-73.960140,"(40.622875, -73.96014)",AVENUE K,NaN,NaN,...,Unspecified,NaN,NaN,NaN,3757720,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
9,09/25/2017,0:00,NaN,NaN,40.824432,-73.873604,"(40.824432, -73.873604)",BRUCKNER BOULEVARD,MORRISON AVENUE,NaN,...,Passing or Lane Usage Improper,NaN,NaN,NaN,3757819,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
10,09/25/2017,0:00,NaN,NaN,40.590706,-74.165794,"(40.590706, -74.165794)",RICHMOND AVENUE,NOME AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,3757132,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
11,09/25/2017,0:27,MANHATTAN,10006.0,40.709830,-74.014680,"(40.70983, -74.01468)",WEST STREET,ALBANY STREET,NaN,...,NaN,NaN,NaN,NaN,3756827,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
12,09/25/2017,0:30,BROOKLYN,11224.0,40.575573,-73.994320,"(40.575573, -73.99432)",MERMAID AVENUE,WEST 28 STREET,NaN,...,NaN,NaN,NaN,NaN,3756665,NaN,NaN,NaN,NaN,NaN
13,09/25/2017,0:30,NaN,NaN,40.748350,-73.967865,"(40.74835, -73.967865)",NaN,NaN,NaN,...,Unspecified,NaN,NaN,NaN,3757396,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN
14,09/25/2017,0:45,MANHATTAN,10033.0,40.846153,-73.932335,"(40.846153, -73.932335)",WEST 178 STREET,AMSTERDAM AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,3757727,PASSENGER VEHICLE,TAXI,NaN,NaN,NaN
15,09/25/2017,0:47,NaN,NaN,40.840910,-73.904755,"(40.84091, -73.904755)",WEBSTER AVENUE,CLAY AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,3756944,SPORT UTILITY / STATION WAGON,TAXI,NaN,NaN,NaN
16,09/25/2017,0:50,NaN,NaN,40.640152,-74.137010,"(40.640152, -74.13701)",NaN,NaN,2217 RICHMOND TERRACE,...,Unspecified,NaN,NaN,NaN,3758228,PICK-UP TRUCK,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
17,09/25/2017,0:55,NaN,NaN,40.721190,-73.998490,"(40.72119, -73.99849)",BROOME STREET,NaN,NaN,...,Unspecified,NaN,NaN,NaN,3756901,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN
18,09/25/2017,0:55,BRONX,10473.0,40.824490,-73.858930,"(40.82449, -73.85893)",NaN,NaN,905 WHITE PLAINS ROAD,...,NaN,NaN,NaN,NaN,3756497,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
19,09/25/2017,10:00,BRONX,10458.0,40.852947,-73.888790,"(40.852947, -73.88879)",NaN,NaN,611 EAST 183 STREET,...,Unspecified,NaN,NaN,NaN,3756975,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,NaN
20,09/25/2017,10:00,BROOKLYN,11207.0,NaN,NaN,NaN,Livonia Ave,van sinderen,NaN,...,Unspecified,NaN,NaN,NaN,3757486,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
21,09/25/2017,10:00,BROOKLYN,11213.0,40.670414,-73.927770,"(40.670414, -73.92777)",NaN,NaN,1505 SAINT JOHNS PLACE,...,Unspecified,NaN,NaN,NaN,3759339,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
22,09/25/2017,10:00,BROOKLYN,11218.0,40.647297,-73.980300,"(40.647297, -73.9803)",MC DONALD AVENUE,CATON AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,3757043,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
23,09/25/2017,10:00,MANHATTAN,10016.0,40.750220,-73.979065,"(40.75022, -73.979065)",PARK AVENUE,EAST 39 STREET,NaN,...,NaN,NaN,NaN,NaN,3756924,PICK-UP TRUCK,NaN,NaN,NaN,NaN
24,09/25/2017,10:00,MANHATTAN,10024.0,40.782528,-73.975075,"(40.782528, -73.975075)",NaN,NaN,416 COLUMBUS AVENUE,...,Unspecified,NaN,NaN,NaN,3757168,PICK-UP TRUCK,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
25,09/25/2017,10:00,MANHATTAN,10036.0,40.754840,-73.984120,"(40.75484, -73.98412)",WEST 42 STREET,AVENUE OF THE AMERICAS,NaN,...,Unspecified,NaN,NaN,NaN,3757572,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,NaN
26,09/25/2017,10:00,MANHATTAN,10038.0,40.710220,-74.007750,"(40.71022, -74.00775)",FULTON STREET,NASSAU STREET,NaN,...,NaN,NaN,NaN,NaN,3756985,PICK-UP TRUCK,PICK-UP TRUCK,NaN,NaN,NaN
27,09/25/2017,10:00,QUEENS,11377.0,40.741863,-73.907510,"(40.741863, -73.90751)",58 STREET,QUEENS BOULEVARD,NaN,...,Unspecified,NaN,NaN,NaN,3759012,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,NaN
28,09/25/2017,10:00,NaN,NaN,40.825420,-73.824100,"(40.82542, -73.8241)",CALHOUN AVENUE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,3758473,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
29,09/25/2017,10:00,NaN,NaN,40.776077,-73.910650,"(40.776077, -73.91065)",DITMARS BOULEVARD,NaN,NaN,...,Unspecified,NaN,NaN,NaN,3757016,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4292,10/01/2017,6:54,BROOKLYN,11221.0,40.688595,-73.916590,"(40.688595, -73.91659)",NaN,NaN,1184 BUSHWICK AVENUE,...,Unspecified,NaN,NaN,NaN,3762713,PASSENGER VEHICLE,PICK-UP TRUCK,NaN,NaN,NaN
4293,10/01/2017,7:00,QUEENS,11004.0,40.737137,-73.709230,"(40.737137, -73.70923)",259 STREET,HILLSIDE AVENUE,NaN,...,Unspecified,Unspecified,NaN,NaN,3760914,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
4294,10/01/2017,7:00,STATEN ISLAND,10312.0,40.539932,-74.162190,"(40.539932, -74.16219)",NaN,NaN,117 LYNDALE AVENUE,...,NaN,NaN,NaN,NaN,3760978,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,NaN
4295,10/01/2017,7:20,BRONX,10467.0,40.874370,-73.868180,"(40.87437, -73.86818)",NaN,NaN,3357 OLINVILLE AVENUE,...,NaN,NaN,NaN,NaN,3761566,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
4296,10/01/2017,7:20,BROOKLYN,11211.0,40.704790,-73.961860,"(40.70479, -73.96186)",BEDFORD AVENUE,ROSS STREET,NaN,...,Unspecified,Unspecified,Unspecified,NaN,3761337,PASSENGER VEHICLE,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN
4297,10/01/2017,7:25,NaN,NaN,40.785072,-73.969510,"(40.785072, -73.96951)",CENTRAL PARK WEST,NaN,NaN,...,Driver Inattention/Distraction,NaN,NaN,NaN,3761522,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
4298,10/01/2017,7:25,MANHATTAN,10016.0,40.741833,-73.980980,"(40.741833, -73.98098)",NaN,NaN,390 3 AVENUE,...,Unspecified,NaN,NaN,NaN,3760909,PASSENGER VEHICLE,BICYCLE,NaN,NaN,NaN
4299,10/01/2017,7:30,BROOKLYN,11207.0,NaN,NaN,NaN,WYONA STREET,FULTON STREET,NaN,...,Unspecified,NaN,NaN,NaN,3762063,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
4300,10/01/2017,7:30,QUEENS,11004.0,40.737335,-73.708330,"(40.737335, -73.70833)",260 STREET,HILLSIDE AVENUE,NaN,...,NaN,NaN,NaN,NaN,3760913,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
4301,10/01/2017,7:50,QUEENS,11369.0,40.758595,-73.874520,"(40.758595, -73.87452)",94 STREET,32 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,3760721,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
4302,10/01/2017,8:00,BRONX,10472.0,40.831360,-73.868160,"(40.83136, -73.86816)",COMMONWLTH AVENUE,WESTCHESTER AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,3761358,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
4303,10/01/2017,8:01,BRONX,10462.0,40.834873,-73.848980,"(40.834873, -73.84898)",NaN,NaN,2276 WESTCHESTER AVENUE,...,NaN,NaN,NaN,NaN,3761185,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,NaN
4304,10/01/2017,8:15,NaN,NaN,40.718307,-73.966190,"(40.718307, -73.96619)",METROPOLITAN AVENUE,NaN,NaN,...,NaN,NaN,NaN,NaN,3761590,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
4305,10/01/2017,8:33,BROOKLYN,11213.0,40.669098,-73.936660,"(40.669098, -73.93666)",EASTERN PARKWAY,TROY AVENUE,NaN,...,Passing or Lane Usage Improper,NaN,NaN,NaN,3761058,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
4306,10/01/2017,8:35,NaN,NaN,40.738472,-73.931984,"(40.738472, -73.931984)",HUNTERS POINT AVENUE,34 STREET,NaN,...,Unspecified,NaN,NaN,NaN,3760783,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
4307,10/01/2017,8:48,QUEENS,11421.0,40.691960,-73.863320,"(40.69196, -73.86332)",79 STREET,JAMAICA AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,3761292,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
4308,10/01/2017,8:50,NaN,NaN,40.820477,-73.848366,"(40.820477, -73.848366)",CASTLE HILL AVENUE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,3761367,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
4309,10/01/2017,8:55,NaN,NaN,40.821200,-73.891660,"(40.8212, -73.89166)",SOUTHERN BOULEVARD,NaN,NaN,...,Brakes Defective,NaN,NaN,NaN,3760654,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
4310,10/01/2017,9:00,QUEENS,11105.0,NaN,NaN,NaN,21 drive,shore blvd,NaN,...,NaN,NaN,NaN,NaN,3761369,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,NaN
4311,10/01/2017,9:00,NaN,NaN,40.847900,-73.919685,"(40.8479, -73.919685)",UNIVERSITY AVENUE,ANDREWS AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,3761241,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
4312,10/01/2017,9:00,NaN,NaN,40.779580,-73.981830,"(40.77958, -73.98183)",WEST 73 STREET,BROADWAY,NaN,...,NaN,NaN,NaN,NaN,3761539,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
4313,10/01/2017,9:00,NaN,NaN,40.649370,-74.012955,"(40.64937, -74.012955)",NaN,NaN,NaN,...,Unspecified,NaN,NaN,NaN,3762391,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
4314,10/01/2017,9:24,NaN,NaN,40.724750,-73.773155,"(40.72475, -73.773155)",NaN,NaN,NaN,...,Reaction to Other Uninvolved Vehicle,Unspecified,NaN,NaN,3760655,PASSENGER VEHICLE,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN
4315,10/01/2017,9:30,MANHATTAN,10019.0,40.764320,-73.977200,"(40.76432, -73.9772)",WEST 57 STREET,AVENUE OF THE AMERICAS,NaN,...,Passing or Lane Usage Improper,NaN,NaN,NaN,3761635,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
4316,10/01/2017,9:30,NaN,NaN,40.658295,-73.931090,"(40.658295, -73.93109)",UTICA AVENUE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,3761065,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
4317,10/01/2017,9:31,BROOKLYN,11233.0,40.675380,-73.908200,"(40.67538, -73.9082)",EASTERN PARKWAY,PACIFIC STREET,NaN,...,Unspecified,NaN,NaN,NaN,3760942,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN
4318,10/01/2017,9:40,NaN,NaN,40.592026,-74.190110,"(40.592026, -74.19011)",VICTORY BOULEVARD,WILD AVENUE,NaN,...,NaN,NaN,NaN,NaN,3761061,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,NaN
4319,10/01/2017,9:45,BROOKLYN,11207.0,40.678160,-73.897484,"(40.67816, -73.897484)",JAMAICA AVENUE,PENNSYLVANIA AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,3762064,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN
4320,10/01/2017,9:50,NaN,NaN,40.611313,-74.098440,"(40.611313, -74.09844)",NARROWS ROAD NORTH,CLOVE ROAD,NaN,...,Unspecified,NaN,NaN,NaN,3761419,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
4321,10/01/2017,9:52,BROOKLYN,11206.0,40.706425,-73.937250,"(40.706425, -73.93725)",NaN,NaN,264 BOERUM STREET,...,Unspecified,NaN,NaN,NaN,3761339,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN

Let's look at the most frequent time zones.

In [38]:
top_time = collisions.groupby(['TIME']).count().sort_values('DATE',ascending=[False]).head()
top_time

,DATE,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,UNIQUE KEY,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
TIME,,,,,,,,,,,,,,,,,,,,,
0:00,76,54,54,73,73,73,54,41,18,76,...,66,8,2,0,76,75,54,9,2,0
15:00,68,47,47,66,66,66,44,35,21,68,...,52,2,0,0,68,66,41,2,0,0
16:00,66,35,35,55,55,55,40,30,14,66,...,59,4,1,0,66,66,51,4,1,0
9:00,65,32,32,58,58,58,44,28,13,65,...,51,1,0,0,65,61,34,1,0,0
17:00,62,33,33,58,58,58,41,26,13,62,...,53,3,1,1,62,62,44,3,1,1

At 0:00 we can see that the most accidents occurred.

Find out where the most frequent accidents occurred.

In [40]:
top_area = collisions.groupby(['BOROUGH']).count().sort_values('DATE',ascending=[False]).head()
top_area

,DATE,TIME,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,UNIQUE KEY,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
BOROUGH,,,,,,,,,,,,,,,,,,,,,
BROOKLYN,769,769,769,748,748,748,441,441,328,769,...,581,48,14,6,769,742,470,43,14,6
QUEENS,750,750,748,688,688,688,497,497,252,750,...,606,48,9,1,750,734,517,41,8,1
MANHATTAN,570,570,570,531,531,531,344,344,226,570,...,454,12,3,0,570,549,355,10,1,0
BRONX,330,330,330,316,316,316,201,201,129,330,...,239,18,2,0,330,312,203,17,2,0
STATEN ISLAND,115,115,115,106,106,106,88,88,27,115,...,92,7,1,0,115,113,77,6,1,0

BROOKLYN is the place where the accident was most frequent.

Let's learn about the date of the most accident.

In [53]:
top_date = collisions.groupby(['DATE']).count().sort_values('TIME',ascending=[False]).head()
top_date

,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,UNIQUE KEY,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
DATE,,,,,,,,,,,,,,,,,,,,,
09/25/2017,701,414,414,651,651,651,463,321,158,701,...,564,36,7,3,701,679,437,31,5,3
09/28/2017,689,396,395,631,631,631,435,297,161,689,...,570,40,7,1,689,666,451,34,7,1
09/29/2017,672,364,364,623,623,623,432,282,141,672,...,566,46,11,3,672,652,459,41,11,3
09/27/2017,654,378,378,611,611,611,428,283,139,654,...,543,38,6,2,654,627,438,33,6,2
09/26/2017,625,390,389,569,569,569,405,285,156,625,...,478,34,3,1,625,608,375,29,3,1

On September 25, 2017, we can see that the most car accident occurred.

With the above data, we can get the following results.

In [58]:
collisions[(collisions['DATE']=='09/25/2017')&(collisions['BOROUGH']=='BROOKLYN')&(collisions['TIME']=='0:00')].head()

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,UNIQUE KEY,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
1,09/25/2017,0:00,BROOKLYN,11210.0,40.636326,-73.958405,"(40.636326, -73.958405)",OCEAN AVENUE,FOSTER AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,3757470,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
2,09/25/2017,0:00,BROOKLYN,11216.0,40.675385,-73.953370,"(40.675385, -73.95337)",SAINT MARKS AVENUE,BEDFORD AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,3757401,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
3,09/25/2017,0:00,BROOKLYN,11217.0,40.685290,-73.976204,"(40.68529, -73.976204)",HANSON PLACE,FORT GREENE PLACE,NaN,...,Unspecified,NaN,NaN,NaN,3757719,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
4,09/25/2017,0:00,BROOKLYN,11237.0,40.713966,-73.924540,"(40.713966, -73.92454)",METROPOLITAN AVENUE,SCOTT AVENUE,NaN,...,Turning Improperly,NaN,NaN,NaN,3757316,PASSENGER VEHICLE,NaN,NaN,NaN,NaN

On September 25, 2017, October 1, 2017, on Monday at 0:00, you can see that there were frequent car accidents at BROOKLYN's OCEAN AVENUE, SAINT MARKS AVENUE, HANSON PLACE and METROPOLITAN AVENUE.